body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 50%;
  margin: 50px auto;
  background: #fff;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #333;
}

.container div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  padding: 10px 20px;
  border: none;
  background-color: #28a745;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #218838;
}


#addTaskBtn {
  padding: 5px 30px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

#addTaskBtn:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #65faf0;
}

tr:hover {
  background-color: #f1f1f1;
}

th:nth-child(1), td:nth-child(1) { width: 10%; }  /* ID column */

.actionColumn{
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.done{
  padding: 5px 10px;
  border: none;
  background-color: #07d819;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.done:hover{
  background-color: #0cb91a;
}

.deleteBtn{
  padding: 5px 10px;
  border: none;
  background-color: #f81717;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.deleteBtn:hover{
  background-color: #cc0c0c;
}